@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Caveat:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");

.heading {
  font-family: "Caveat", cursive;
  font-size: 200px;
  font-weight: bold;
  font-style: normal;
}

.allListItems {
  font-size: small;
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}
